<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-estreno-heading" data-cy="EstrenoCreateUpdateHeading">Create or edit a Estreno</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lugar">Lugar</label>
          <input type="text" class="form-control" name="lugar" id="field_lugar" data-cy="lugar" formControlName="lugar" />
          <div *ngIf="editForm.get('lugar')!.invalid && (editForm.get('lugar')!.dirty || editForm.get('lugar')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lugar')?.errors?.minlength">
              This field is required to be at least 4 characters.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('lugar')?.errors?.maxlength">
              This field cannot be longer than 150 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_pelicula">Pelicula</label>
          <select class="form-control" id="field_pelicula" data-cy="pelicula" name="pelicula" formControlName="pelicula">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="peliculaOption.id === editForm.get('pelicula')!.value?.id ? editForm.get('pelicula')!.value : peliculaOption"
              *ngFor="let peliculaOption of peliculasCollection; trackBy: trackPeliculaById"
            >
              {{ peliculaOption.titulo }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
